{{#if author}}
	<h1>{{author}}</h1>
{{else}}
	<h1>All Strategies</h1>
{{/if}}

<ol id="strategies">
	{{#each strategies}}
		<li>
			<div class="vote">
				<h4 class="voteCount">{{this.votes}}</h4>
				<button class="upvote" id="{{this._id}}">+</button>
			</div>
			<div class="textDetail">
				<a href="/strategy/{{this.slug}}"><h2>{{this.title}}</h2></a>
				<br>
				<a href="/user/{{this.authorUsername}}">
					by <strong>{{this.authorUsername}} </strong>
				</a>

				on <strong>{{this.createdAt}}</strong>
			</div>
		</li>
	{{/each}}
</ol>

<script
